<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Header practice</title>
</head>

<body>
<header class="header">
  <div class="logo">
    <img src="assets/img/logo.png" alt="logo" srcset="">
  </div>
  <div>
    <input class="search" type="text" placeholder="try to find something">
  </div>
  <div class="user-box">
    <img class ="user-image" src="assets/img/kimevans.png" alt="avatar" srcset="">
    <p>Vadym Lazariev</p>
    <div class="submenu">
        <p>Add new post</p>
        <p>Profile</p>
    </div>
    <img class="sign-out" src="assets/img/fa-sign-out.png" alt="logout">
  </div>
</header>
</body>
</html>
