@import "../../sass/variables";



header{
  position: relative;
  display:flex;
  align-items: flex-start;
  justify-content: space-between;

}

.logo{
  flex: 0 0 auto;
  display: block;
  margin: 9px 0 9px 50px;
}

.search{
  flex: 1 0 auto;
  font-size: 14px;
  max-width: 45%;
  margin-top: 15px;
  &__form{
    border-bottom: 1px solid $main-color
  }
  &__input{
    width: calc(100% - 20px);
    background-color: transparent;
    border: none;
  }
  &__label{
    width: 100%;
  }
}



@media screen and (max-width: 800px){
  .logo{
    flex: 0 0 auto;
    display: block;
    margin: 0;
  }
  .search__input{

  }
}
