<app-header></app-header>
<form [formGroup]="addingProductForm" class="container" novalidate>
  <div class="form-group">
    <label class="center-block">Theme:
      <input [ngClass]="{'error':addingProductForm.controls.theme.invalid}"  type="text" class="form-control" formControlName="theme">
      <div *ngIf="addingProductForm.controls.theme.invalid">
        <app-error-handler [errors]="addingProductForm.controls.theme.errors"
                           [formFieldName]='theme'></app-error-handler>
      </div>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Product image:
      <input [ngClass]="{'error':addingProductForm.controls.images.invalid}"
             (change)="onChange($event)" type="file" multiple class="form-control" formControlName="images">
      <div *ngIf="addingProductForm.controls.images.invalid">
        <app-error-handler [errors]="addingProductForm.controls.images.errors"
                           [formFieldName]='images'></app-error-handler>
      </div>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Text:
      <textarea [ngClass]="{'error':addingProductForm.controls.text.invalid}"
                class="form-control" formControlName="text"></textarea>
      <div *ngIf="addingProductForm.controls.text.invalid">
        <app-error-handler [errors]="addingProductForm.controls.text.errors"
                           [formFieldName]='text'></app-error-handler>
      </div>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Price:
      <input [ngClass]="{'error':addingProductForm.controls.price.invalid}"
             type="text" class="form-control" formControlName="price">
      <div *ngIf="addingProductForm.controls.price.invalid">
        <app-error-handler [errors]="addingProductForm.controls.price.errors"
                           [formFieldName]='price'></app-error-handler>
      </div>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Currency:
      <input [ngClass]="{'error':addingProductForm.controls.currency.invalid}"
             type="text" class="form-control" formControlName="currency">
      <div *ngIf="addingProductForm.controls.currency.invalid">
        <app-error-handler [errors]="addingProductForm.controls.currency.errors"
                           [formFieldName]='currency'></app-error-handler>
      </div>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Location:
      <input [ngClass]="{'error':addingProductForm.controls.location.invalid}"
             type="text" class="form-control" formControlName="location">
      <div *ngIf="addingProductForm.controls.location.invalid">
        <app-error-handler [errors]="addingProductForm.controls.location.errors"
                           [formFieldName]='location'></app-error-handler>
      </div>
    </label>
  </div>
  <div class="checkbox">
    <label class="center-block">
      <input type="checkbox" formControlName="contract_price">Contract Price

    </label>
  </div>
  <div class="checkbox">
    <label class="center-block">
      <input type="checkbox" formControlName="is_active">Active
    </label>
  </div>
  <button (click)="onSubmit()" type="submit" class="btn btn-default">Submit</button>
</form>
<app-footer></app-footer>
