@import "../sass/variables";
.btn {
  opacity: 1;
  background-color: $main-color;
  color:white;
  font-size: 15px;
  font-family: $main-font;
}


.btn:hover{
  opacity: 0.5;
}

img{
  height: 100px;
}



