<div class="container">

  <h1>Edit Profile:</h1>
  <hr>
  <div class="row"  >
    <div class="col-md-3" [formGroup]="profileForm">
      <div class="text-center">
        <img src="{{user.avatar}}" class="avatar img-circle" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input  (change)="onChange($event)" type="file" class="form-control" formControlName="avatar">
      </div>
    </div>
    <div class="col-md-9 personal-info">
      <h3>Profile:</h3>
      <form class="form-horizontal" role="form" [formGroup]="profileForm" novalidate>
        <div class="form-group">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text"  formControlName="first_name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" formControlName="last_name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input disabled class="form-control" type="text" formControlName="email">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Username:</label>
          <div class="col-md-8">
            <input class="form-control" type="text" formControlName="username" >
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <button type="button" class="btn" value="Save Changes" (click)="patch()">Save changes</button>
            <span></span>
            <button type="button" class="btn btn-default">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
