@import "../sass/variables";

.btn {
  opacity: 1;
  background-color: $main-color;
  color: white;
  font-size: 15px;
  font-family: $main-font;
}

.btn:hover {
  opacity: 0.5;
}

img {
  height: 100px;
}



.error {
  color: red;
  font-size: 15px;
  border: red 1px solid;
}

.error-text {
  color: red;
  display: block;
}

._disabled_text {
  display: none;
  float: left;
}
