@import "../../sass/variables";

.button{
  display:none;
  position: fixed;
  background-color: $main-color;
  border: none;
  bottom: 1rem;
  right: 1rem;
  color: white;
  font: $main-font;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 50px;

  &:hover {
    opacity: 0.5;
  }
}
