/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body, html {
  height: 100%;
  margin: 0;
}
div{
  display: block;
}
li{
  list-style-type: none;
}
a{
  color: white;
}

/*
body{
  display: flex;
  min-height: 100%;
  position: relative;
  padding-bottom: 30px;
}
*/
